* {
background-color: #1d1c1c;
color: #e7dede;
/* color: #e9dfdf; */
/* box-sizing: border-box; */
}

html, body {
height: 100%;
/* font-family: 'Alice', serif; */
/* font-family: 'Lato', sans-serif; */
font-family: 'Montserrat', sans-serif;
/* font-family: 'Muli', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Lato', 'Montserrat', 'Muli', 'Open Sans', 'Roboto', sans-serif; */
/* font-size: 48px; */
/* border: 1px solid #fff; */
}

/* navbar container */
.navbar {
/* position: relative; */
padding: 2rem 12rem 0rem 0rem; 
min-width: 480px;
/* flex-wrap: nowrap; */
/* border: 1px; */
}

/* links inside the navbar */
.navbar a {
/* position: absolute;
display: flex;
justify-content: flex-end; */
float: right;
/* display: block; */
color: #e7dede;
/* color: #d3cbcb; */
/* color: #f2f; */
/* color: #1f1d1d; */
/* color: black; */
/* color: #f2f2f2; */
margin: 1rem 2rem 0rem 0rem;
padding: 0.25rem;
/* border-bottom: 3px solid transparent; */
/* border-bottom: 2px solid #e7dede; */
text-align: center;
text-decoration: none;
font-size: 1rem;
letter-spacing: 0.2rem;
}

/* links on hover */
.navbar a:hover {
/* border-bottom: 5px solid #4CAF50; */
border-bottom: 4px solid #bde474;
}

/* current page styling */
.navbar a.active {
border-bottom: 4px solid #bde474;
/* color: #68d304; */
}

/* &:active {
i { color: #68d304; }
} */

/* hide the link that should open and close the navbar on small screens
.navbar .icon {
display: none;
} */

#bio-container {
margin: 7rem 0rem 0rem 0rem;
/* border: 1px solid #fff; */
}

#bio {
font-size: 1.8rem;
line-height: 5.75rem;
letter-spacing: 0.05rem;
margin: auto;
width: 75%;
/* padding: 2rem 0rem 0rem 0rem; */
/* border: 1px solid #fff; */
}

#bio-details {
margin-top: 1.5rem;
}

#hello {
font-size: 6rem; 
font-style: italic;
font-weight: 300;
color:#e9dede;
}

#front-dev {
font-size: 3.15rem; 
font-weight: 500;
letter-spacing: 0.15rem;
color:#68d304;
}

#full-stack {
font-size: 2rem; 
letter-spacing: 0.1rem;
color:#0b8f25;
}

#ui-ux {
font-size: 2rem; 
letter-spacing: 0.1rem;
color:#62c952;
}

#design {
font-size: 2rem; 
/* font-weight: 480;  */
letter-spacing: 0.1rem;
color:#bde474;
}

/* contact container */
#contact {
display: flex;
justify-content: center;
align-items: center;
margin: 4rem 0rem 5rem 0rem;
min-width: 480px;
/* border: 1px solid #fff; */
}

/* contact icons */
#contact a {
font-size: 2.25rem;
margin: 1.5rem;
/* color: #d8d8d8; */
/* color: #d3cbcb; */
/* border: 1px solid #fff; */
}

#made-with {
font-size: 0.8rem;
margin: 10rem 0rem 3rem 0rem;
padding: 1rem;
text-align: center;
/* border: 1px solid #fff; */
}

.made-with-icon {
padding: 0.25rem;
}


/* RESUME PAGE */
.grid-wrapper {
display: grid;
grid-template-columns: auto auto auto;
margin: 7rem 0rem 0rem 0rem;
/* border: 1px solid #fff; */
}

.grid-item {
/* border: 1px solid #fff; */
}

.view-resume {
font-size: 2rem;
font-weight: 500;
letter-spacing: 0.1rem;
/* color:#62c952; */
/* text-align: center */
/* border: 1px solid #fff; */
}

#resume-link {
text-decoration: none;
border-bottom: 1.5px solid #bde474;
}

.section-header {
font-size: 1.6rem;
/* font-weight: 500; */
letter-spacing: 0.25rem;
color:#73c516;
/* color:#62c952; */
margin: 4rem 0rem 1rem 0rem;
border-bottom: 1.25px solid #bde474;
}

.sub-header {
font-size: 1.15rem;
/* font-weight: 500; */
letter-spacing: 0.4rem;
color:#0b8f25;
/* color:#62c952; */
margin: 2.5rem 0rem 0.75rem 2rem;
}

.icon-row {
padding: 0.5rem;
}

.skill-icons {
margin: 1.5rem;
font-size: 2.75rem;
color: #e7dede;
/* border: 1px solid #fff; */
}


/* WORK PAGE */

/* accordion styling */
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 90vh;
	width: 100vw;
	margin-top: 5rem;
}

li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-transition: -webkit-box-flex 500ms ease-out;
	-webkit-transition: -webkit-flex 500ms ease-out;
	transition: -webkit-box-flex 500ms ease-out;
	transition: -ms-flex 500ms ease-out;
	transition: flex 500ms ease-out;
	padding: 20px;
}
/* color:#0b8f25;
color:#68d304;
color:#62c952;
color:#bde474; */

/* slide styling */
li:nth-child(1) { background: #68d304; }
li:nth-child(2) { background: #62c952; }
li:nth-child(3) { background: #bde474; }
/* li:nth-child(4) { background: #; } */
/* li:nth-child(5) { background: #68d304; } */

/* li:nth-child(1) { background: #f2b635; }
li:nth-child(2) { background: #f19a2a; }
li:nth-child(3) { background: #49b3e8; }
li:nth-child(4) { background: #00a0e6; }
li:nth-child(5) { background: #f25648; } */

/* hover animation */
li:hover {
	-webkit-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	}
