* {
background-color: #1d1c1c;
color: #e7dede;
/* color: #e9dfdf; */
}

/* navbar container */
.navbar {
padding: 2rem 10rem 0rem 0rem; 
border: 1px;
}

/* links inside the navbar */
.navbar a {
float: right;
display: block;
color: #e7dede;
/* color: #d3cbcb; */
/* color: #f2f; */
/* color: #1f1d1d; */
/* color: black; */
/* color: #f2f2f2; */
margin: 1rem 2rem 0rem 0rem;
padding: 0.25rem;
/* border-bottom: 3px solid transparent; */
border-bottom: 3px solid #e7dede;
text-align: center;
text-decoration: none;
font-size: 1.5rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
letter-spacing: 0.2rem;
}

/* links on hover */
.navbar a:hover {
/* border-bottom: 5px solid #4CAF50; */
border-bottom: 5px solid #bde474;
}

/* current page styling */
.navbar a.active {
/* border-bottom: 5px solid #4CAF50; */
border-bottom: 5px solid #bde474;
/* color: #68d304; */
}

/* &:active {
i { color: #68d304; }
} */

/* hide the link that should open and close the navbar on small screens
.navbar .icon {
display: none;
} */

/* bio-container */
#bio-container {
margin: 8rem 0rem 0rem 0rem;
/* border: 1px solid #ffffff; */
}

/* bio */
#bio {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 2rem;
line-height: 4rem;
letter-spacing: 0.05rem;
margin: auto;
width: 75%;
/* padding: 8rem 0rem 0rem 0rem; */
/* border: 1px solid #ffffff; */
}


/* contact container */
#contact {
display: flex;
justify-content: center;
margin: 5rem 0rem 0rem 0rem;
/* border: 1px solid #ffffff; */
}

/* contact icons */
#contact a {
font-size: 2.25rem;
padding: 0rem 1.5rem 0rem 1.5rem;
color: #d8d8d8;
/* color: #d3cbcb; */
/* border: 1px solid #ffffff; */
}

/* resume page container */
#resume-pg-wrapper {
display: flex;
justify-content: center;
align-items: flex-start;
/* margin: 1rem 0rem 0rem 0rem; */
}

#resume-row {
display: flex;
justify-content: center;
align-items: flex-start;
margin: 4rem 0rem 0rem 0rem;
}

/* view resume link */
.view-resume {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 2.25rem;
letter-spacing: 0.05rem;
color:#62c952;
/* border: 1px solid #ffffff; */
}

/* section header */
.section-header {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 1.25rem;
letter-spacing: 0.05rem;
color:#62c952;
/* border: 1px solid #ffffff; */
}

/* skill icons */
.skill-section {
padding: 0.25rem 1.5rem 0rem 0rem;
display: flex;
flex-direction: column;
justify-content: space-between;
/* justify-content: center; */
/* flex-wrap: wrap; */
font-size: 2rem;
color: #e7dede;
/* border: 1px solid #ffffff; */
}

/* skill icon and name */
.skill-row {
display: flex;
margin-bottom: 0.25rem;
/* border: 1px solid #ffffff; */
}

/* skill name */
.skill-name {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 1.25rem;
margin: 0rem 0rem 0rem 2rem;
display: flex;
justify-content: center;
align-items: center;
/* border: 1px solid #ffffff; */
}

.design-row {
margin: 0rem 0rem 0rem 10rem;
}