* {
/* background-color: #1c1c1c; */
/* background-color: #e9e8e8; */
/* color: #e9dfdf; */
color: #c4c4c4;

box-sizing: border-box;
/* The CSS box-sizing property allows us to include the padding and border in an element's total width and height. */
}

/* rem is a unit of typography equal to the root font-size. This means 1rem is always equal to the font-size defined in <html> */
/* 1rem would always take on the value of 16px no matter where you set it (unless you changed the font-size of <html>) */

/* 1em can take on different values in different parts of the code */
/* it’s best practice to use relative units like em for font-size */

/* Size in em if the property scales according to its font-size */
/* Size everything else in rem. */
html, body {
background-color: #1c1c1c;
height: 100%;
max-width: 100%;
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
font-size: 100%;
/* For most users (and browsers), a font-size of 100% would default to 16px, unless they change it in their browser settings */
}

/* navbar container */
.navbar {
position: relative;
display: block;
padding: 2rem 15rem 0rem 0rem; 
overflow: hidden;
/* border: 1px solid red; */
}

/* links inside the navbar */
.navbar a {
/* position: absolute; */
float: right;
display: block;
color: #c4c4c4;
opacity: 90%;
margin: 0.5rem 1rem;
padding: 5px 5px;
text-align: center;
text-decoration: none;
font-size: 0.9em;
letter-spacing: 0.2rem;
/* border: 1px solid red; */
}

/* links on hover */
.navbar a:hover {
/* border-bottom: 4px solid #bde474; */
border-bottom: 2.5px solid #95DF4F;
color: #68d304;
opacity: 90%;
}

/* current page styling */
.navbar a.active {
/* border-bottom: 4px solid #bde474; */
border-bottom: 2.5px solid #95DF4F;
opacity: 95%;
color: #68d304;
}

#bio-container {
margin: 0;
padding: 0 6rem;
max-width: 100vw;
display: flex;
justify-content: center;
align-items: center;
bottom: 2rem;
/* border: 1px solid #fff; */
}

#bio {
font-size: 1.25em;
font-weight: 300;
line-height: 6rem;
letter-spacing: 0.15rem;
margin-top: 2.5rem;
/* border: 1px solid #fff; */
}

#bio-details {
margin-top: 1rem;
}

#hello {
font-size: 4.75em; 
font-weight: 300;
font-style: italic;
color:#c4c4c4;
opacity: 90%;
}

#hello:hover,
#hello:focus {
  -webkit-transform: scale(1.15);
     -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
		  transform: scale(1.15);
		  /* text-shadow: 0 0 15px #c2ec74; */
		  /* color: #c2ec74; */
		  color:#b7eb56;
} 

#hello {
  -webkit-transition: transform 0.2s;
     -moz-transition: transform 0.2s;
       -o-transition: transform 0.2s;
          transition: transform 0.2s;
}

.front-dev {
font-size: 1.9em; 
font-weight: 500;
letter-spacing: 0.15rem;
color:#68d304;
opacity: 90%;
}

#full-stack {
font-size: 1.1em; 
font-weight: 500;
letter-spacing: 0.1rem;
color:#0b8f25;
opacity: 90%;
}

#ui-ux {
font-size: 1em; 
font-weight: 500;
letter-spacing: 0.1rem;
color:#3cc448;
opacity: 90%;
}

#design {
font-size: 1em; 
font-weight: 500;
letter-spacing: 0.1rem;
/* color:#bde474; */
color:#b7eb56;
opacity: 90%;
}

/* contact container */
#contact {
display: flex;
justify-content: center;
align-items: center;
margin: 3rem 0rem 0rem 0rem;
min-width: 480px;
/* border: 1px solid #fff; */
}

/* contact icons */
#contact a {
font-size: 2.5rem;
margin: 0 1.5rem;
min-width: 480px;
/* border: 1px solid #fff; */
}

/* CONTACT HOVER TOOLTIP */
.contact-tooltip {
position: relative;
display: inline-block;
}

.contact-tooltip .contact-tooltiptext {
	/* border: 1px solid red; */
visibility: hidden;
width: 230px;
background-color: #73c516;
opacity: 90%;
color: #1c1c1c;
text-align: center;
/* border-radius: 1px; */
padding: 7px 0;
position: absolute;
z-index: 1;
bottom: 100%;
left: 50%;
/* margin-left: -60px; original number */
margin-left: -115px;
margin-bottom: 10px;

/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
opacity: 0;
transition: opacity 1s;
}

.contact-tooltip .contact-tooltiptext::after {
content: " ";
position: absolute;
top: 100%; /* At the bottom of the tooltip */
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
/* border-color: #1c1c1c transparent transparent transparent; */
/* border-color: #a7a4a4 transparent transparent transparent; */
border-color: #bde474 transparent transparent transparent;
}

.contact-tooltip:hover .contact-tooltiptext {
visibility: visible;
opacity: 90%;
}

#made-with {
position: relative;
font-size: 0.65em;
letter-spacing: 0.05rem;
margin: 0 auto;
padding: 13rem 0rem 0rem 0rem;
bottom: 2rem;
min-width: 480px;
text-align: center;
color: #525252;
/* border: 1px solid #fff; */
}

.made-with-icon {
padding: 0.25rem;
color: #757575;
}


/* RESUME PAGE */
.grid-wrapper {
display: grid;
grid-template-columns: auto auto auto;
margin: 2.5rem 0;
/* border: 1px solid #fff; */
}

.view-resume {
font-size: 1.5em;
font-weight: 500;
letter-spacing: 0.05rem;
text-align: center;
/* border: 1px solid #fff; */
}

#resume-link {
text-decoration: none;
color:#25b30f;
border-bottom: 1.2px solid #bde474;
}

.section-header {
font-size: 1.4em;
letter-spacing: 0.25rem;
color:#25b30f;
opacity: 90%;
margin: 4rem 1rem 2rem 1rem;
border-bottom: 1.25px solid #bde474;
}

.sub-header {
font-size: 1.1rem;
letter-spacing: 0.5rem;
color:#95DF4F;
opacity: 90%;
margin: 2rem 0rem 0.5rem 3rem;
}

.icon-row {
margin: 1.5rem 0rem 3rem 2rem;
}

.icon-row .design-skills img {
width: 50px; 
margin: 0 1.8rem; 
background-color: #c4c4c4;
}

.skill-icons {
padding: 0 2rem;
display: inline;
/* max-width: 480px; */
font-size: 2.7em;
color: #c4c4c4;
/* border: 1px solid #fff; */
}

/* SKILL HOVER TOOLTIP */
.skill-tooltip {
position: relative;
display: inline-block;
}

.skill-tooltip .skill-tooltiptext {
visibility: hidden;
width: 130px;
background-color: #73c516;
color: #1c1c1c;
text-align: center;
/* border-radius: 1px; */
padding: 7px 0;
position: absolute;
z-index: 1;
bottom: 100%;
left: 50%;
margin-left: -65px; 
margin-bottom: 10px;

/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
opacity: 0;
transition: opacity 0.5s;
}

.skill-tooltip .skill-tooltiptext::after {
content: " ";
position: absolute;
top: 100%; /* At the bottom of the tooltip */
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
/* border-color: #1c1c1c transparent transparent transparent; */
/* border-color: #a7a4a4 transparent transparent transparent; */
border-color: #bde474 transparent transparent transparent;
}

.skill-tooltip:hover .skill-tooltiptext {
visibility: visible;
opacity: 92%;
}

.icon-zoom:hover,
.icon-zoom:focus {
  -webkit-transform: scale(1.15);
     -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
		  transform: scale(1.15);
} 

.icon-zoom {
  -webkit-transition: transform 0.15s;
     -moz-transition: transform 0.15s;
       -o-transition: transform 0.15s;
          transition: transform 0.15s;
}


/* WORK PAGE */
/* RESPONSIVE ACCORDION SLIDER */
.accordion {
max-width: 100vw;
max-height: 100vh;
margin: 0;
position: sticky;
/* bottom: 0; */
/* width: 100%; */
/* max-width: 1080px; */
/* height: 350px; */
/* overflow: hidden; */
/* margin: 50px auto; */
background-color: #e9e8e8;
/* border: 1px solid red; */
}

/* project slide list */
.accordion ul {
width: 100%;
display: table;
table-layout: fixed;
/* margin-top: 5rem; */
padding: 0;
/* background-color: #e9e8e8; */
/* background-color: transparent; */
}

/* single project slide */
.accordion ul li {
display: table-cell;
vertical-align: bottom;
position: relative;
/* width: calc((100% / 3)); */
/* width: 16.666%; */
/* height: 350px; */
/* width: 33%; */
/* max-width: 480px; */
height: 100vh;
background-repeat: no-repeat;
background-position: center center;
transition: all 500ms ease;
margin: 1rem 0;
/* background-color: #e9e8e8; */
/* background-color: transparent; */

/* project slide drop shadow */
/* transition: all 0.5s; */
box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.02),
0 6.7px 5.3px rgba(0, 0, 0, 0.028),
0 12.5px 10px rgba(0, 0, 0, 0.035),
0 22.3px 17.9px rgba(0, 0, 0, 0.042),
0 41.8px 33.4px rgba(0, 0, 0, 0.05),
0 100px 80px rgba(0, 0, 0, 0.07)
;

}

/* single project slide div container */
.accordion ul li div {
display: block;
overflow: hidden;
position: sticky;
width: 100%;
/* background-color: transparent; */
/* background-color: #e9e8e8; slide color */
}

/* single project slide content */
.accordion ul li div div {
display: block;
height: 100vh;
/* width: 100%; */
max-width: 100%;
position: relative;
z-index: 3;
vertical-align: bottom;
padding: 15px 20px;
box-sizing: border-box;
/* color: #fff; */
/* color: #c4c4c4; */
/* color: #c4c4c4; */
color: #e2e2e2;
transition: all 200ms ease;
/* background-color: transparent; */
/* background-color: #e9e8e8; */
}

.accordion ul li div div * {
opacity: 0;
margin: 0;
max-width: 100%;
/* width: 100%; */
/* text-overflow: ellipsis; */
position: relative;
z-index: 5;
/* white-space: nowrap; */
/* overflow: hidden; */
overflow-y: auto;
overflow-wrap: break-word;
-webkit-transform: translateX(-20px);
transform: translateX(-20px);
-webkit-transition: all 400ms ease;
transition: all 400ms ease;
/* background-color: #e9e8e8; */
/* background-color: transparent; */
}

/* .accordion ul li div div h1 {
text-overflow: clip;
font-size: 24px;
text-transform: uppercase;
margin-bottom: 2px;
top: 160px;
background-color: #b8b8b8;
background-color: transparent;
margin: 0;
} */

/* .accordion ul li div div p {
top: 160px;
font-size: 13.5px;
background-color: transparent;
}
*/

/* .accordion li:nth-child(1) { background: #1c1c1c;}
.accordion li:nth-child(2) { background: #1c1c1c;}
.accordion li:nth-child(3) { background: #1c1c1c;} */

.accordion li:nth-child(1) { background: #2dac1a; opacity: 88%;}
.accordion li:nth-child(2) { background: #68d204; opacity: 88%;}
.accordion li:nth-child(3) { background: #95DF4F; opacity: 88%;}

.accordion ul:hover li { width: 8%; }

.accordion ul:hover li:hover { width: 60%; }

.accordion ul:hover li:hover div { background: rgba(0, 0, 0, 0.4);}

.accordion ul:hover li:hover div * {
opacity: 1;
-webkit-transform: translateX(0);
transform: translateX(0);
/* background-color: transparent; */
background-color: #e2e2e2;
/* padding-left: 3.5rem; */
/* overflow-wrap: break-word; */
}

/* ul li div */
.project-slide {
background-color: transparent;
max-width: 100%;
/* border: 1px solid blue; */
}

/* ul li div div */
.project-content {
background-color: transparent;
padding: 0 2.5rem 0 2.5rem;
height: 100px;
max-width: 80%;
/* border: 3px solid orange; */
}

.accordion .project-content img {
max-width: 45%;
padding: 1rem 1rem;
margin: 1rem 1.5rem;
border: 1px solid #b4b4b4;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
/* border: 3px solid red; */
}

.project-name {
text-align: center;
color: #3f3f3f;
font-size: 2.25em;
font-weight: 400;
letter-spacing: 0.5rem;
padding: 1.5rem;
width: 100%;
text-transform: uppercase;
/* text-decoration: underline; */
/* text-decoration-color: #c4c4c4; */
/* border: 1px solid red; */
} 

.project-desc {
color: #4a4a4a;
font-size: 1.1em;
font-weight: 400;
letter-spacing: 0.1rem;
line-height: 2rem;
text-align: center;
/* border: 1px solid red; */
}

.project-stack{
font-size: 1.2em;
font-weight: 400; 
letter-spacing: 0.09rem;
text-align: left;
color:#25b30f;
/* border: 1px solid red; */
}

.accordion .project-content a {
border: 1px solid #cacaca;
border-radius: 2.5px;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
transition: all 0.35s ease 0s;
cursor: pointer;
outline: none;
text-transform: uppercase;
text-decoration: none;
color: #4e4e4e;
font-size: 0.9rem;
font-weight: 500;
letter-spacing: 0.1rem;
line-height: 1.75rem;
padding: 0.5rem 0.75rem;
margin: 0 1rem;
}

.project-info-container {
/* background-color: #e9e8e8; */
/* background-color: transparent; */
/* text-align: right; */
color: #4e4e4e;
font-size: 1.1em;
font-weight: 300;
letter-spacing: 0.1rem;
line-height: 2.5rem;
padding: 1rem 0 4rem 2rem;
width: 95%;
margin: 0;
float: left;
/* position: relative; */
/* border: 1px solid red; */
}

.project-bullet {
color:#25b30f; 
font-size: 1.5em; 
vertical-align: middle;
}


/* RESPONSIVE MEDIA QUERIES */
/* only screen: The only keyword is used to prevent older browsers that do not support media queries with media features from applying the specified styles. 
Example: block older browsers from seeing an iPhone or Android phone style sheet. */
/* The keyword ‘only’ can also be used to hide style sheets from older user agents. User agents must process media queries starting with ‘only’ as if the ‘only’ keyword was not present. */

/* max-width: set width and smaller */
/* min-width: set width and larger */

/* ----------- iPhone 4 & 5 ----------- */
/* iPhone 4+ 320 x 480 */
/* iPhone 5+ 320 x 568 */
@media only screen 
  and (max-width: 320px) {

html, body { margin: 0; }

.navbar {
/* border: 1px solid red; */
display: inline-block;
justify-content: flex-end;
}

.bio {
width: 100%;
padding: 0 4rem;
margin: 0;
}

/* resume page skill icons - adds spacing between icons for better view on mobile screens */
.skill-icons {
display: inline-block;
margin: 20px auto;
}

.design-skills {
display: inline-block;
margin: 20px auto;
}

.project-links {
display: inline-block;
margin: 20px auto;
}

.accordion .project-content img {
	max-width: 100%;
	padding: 1rem 1rem;
	margin: 1rem 1.5rem;
	border: 1px solid #b4b4b4;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	/* border: 3px solid red; */
	}
	
/* accordion slider */
.accordion { height: auto; white-space:normal; }

.accordion ul li,
.accordion ul li:hover,
.accordion ul:hover li,
.accordion ul:hover li:hover {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transition: none;
	transition: none;
	/* background-color: transparent; */
}
.accordion ul li {
	width: 100vw;
	height: auto;
	overflow-y: auto;
	}	

.project-name {
font-size: 1em;
} 

.project-desc {
max-width: 100%;
line-height: 2.75rem;
}

.accordion .project-content img {
	width: 100%
	/* max-width: 100vw; */
	margin: 0;
	/* display: inline-block; */
	/* height: auto; */
	/* display: flex;
	align-items: center; */
	}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPad viewport  ----------- */
@media only screen and (max-width: 1024px) {
	body { margin: 0; }

.skill-icons {
	display: inline-block;
	margin: 20px auto;
	}

.design-skills {
	display: inline-block;
	margin: 20px auto;
	}

.project-links {
	display: inline-block;
	margin: 20px auto;
	}

}

/* ----------- iPad Pro viewport 1366h x 1024w ----------- */
@media only screen and (max-width: 1024px) {
	body { margin: 0; }

}